# Dependencies
node_modules/
*.log

# Env
.env
.env.local
.env.production
frontend/.env.local
frontend/.env.production
config.local.js

# CDK
cdk.out/
amplify/

# Next.js build artifacts
frontend/.next/
.next/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db